extends ../../../index

block content
    .headers-footers-wrapper
        include ../../../blocks/logo-img/logo-img.pug
        .header-login
            include ../../../blocks/header/header.pug
            +header([
                {text: 'Home', bold: true},
                {text: 'About Us'},
                {text: 'Services', icon: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'}
            ], 253, true)
        .header-user
            include ../../../blocks/header/header.pug
            +header([
                {text: 'Home', bold: true},
                {text: 'About Us'},
                {text: 'Services', icon: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'}
            ], 305)
        .footer
        .headers-footers__footer
