extends ../../../index

block content
    .headers-footers-wrapper
        include ../../../blocks/logo-img/logo-img.pug
        .header-login
            include ../../../blocks/header/header.pug
            +header([
                {text: 'Home', bold: true},
                {text: 'About Us'},
                {text: 'Services', icon: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'}
            ], 253, true)
        .header-user
            include ../../../blocks/header/header.pug
            +header([
                {text: 'Home', bold: true},
                {text: 'About Us'},
                {text: 'Services', icon: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'}
            ], 305)
        .footer
            include ../../../blocks/footer/footer.pug
            +footer(
                'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam' +
                ' eget nullam pellentesque aliquam curabitur cociis.',
                [
                    {text: 'Navigation', bold: true},
                    {text: 'About Us'},
                    {text: 'News'},
                    {text: 'Support'},
                    {text: 'Products'},
                ],
                [
                    {text: 'About Us', bold: true},
                    {text: 'Who we are'},
                    {text: 'Our team'},
                    {text: 'Careers'},
                    {text: 'Investors'},
                ],
                [
                    {text: 'Support', bold: true},
                    {text: 'Documentation'},
                    {text: 'Community'},
                    {text: 'Get in Touch'},
                ])
        .headers-footers__footer
