@import "../../../styles/colors";

.headers-footers-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #F4F4F6;
}

.header-login {
  margin-top: 72px;
}

.header-user {
  margin-top: 40px;
}

.footer {
  margin-top: 40px;
  height: 443px;
  background-color: $white;
}

.headers-footers__footer {
  margin-top: 40px;
  height: 367px;
  background-color: $white;
}
