- let pages = [
- 'UI kit/Colors & Types',
- 'UI kit/Cards',
- 'UI kit/Headers & Footers',
- 'UI kit/Form Elements',
- 'Landing page',
- 'Landing page/Guests Dropdown',
- 'Landing page/Dates Dropdown',
- 'Search room/filter',
- 'Search room/filter/Preferences Dropdown',
- 'Search room/filter/Preferences/Expandable Checkbox list',
- 'Room Details',
- 'Registration',
- 'Sign in'
-]
doctype html
html
    head
        title FSD Layout
    body
        div.wrapper
            each val in pages
                div
                    a(href='colors-types.html' target="_blank")= val