@import "../../styles/colors";

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-up {
  display: flex;
}

.footer-up__info {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-up__info__text {
  width: 260px;
  height: 96px;
  margin-top: 18px;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

.footer-up__about {
  margin-top: 85px;
  margin-bottom: 100px;
  margin-left: 80px;
}

.footer-up__support {
  margin-top: 85px;
  margin-bottom: 100px;
  margin-left: 76px;
}

.footer-up__nav, .footer-up__about, .footer-up__support {
  margin-top: 85px;
  margin-bottom: 100px;
}

ul {
  list-style: none;

  li {
    margin-bottom: 20px;

    a {
      font-family: Montserrat-Regular, sans-serif;
      font-size: 14px;
      line-height: 17px;
      color: $dark-shade-50;
      text-decoration: none;

      &.bold {
        font-family: Montserrat-Bold, sans-serif;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-shade-100;
      }
    }
  }
}
