@import "../../styles/colors";

.header-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: $white;
}

.header-logo {
  margin-left: 140px;
  height: 40px;
}

.header__login-register {
  display: flex;
}

.header__user {
  display: flex;
  align-items: center;
}

.line {
  margin-right: 30px;
  height: 30px;
  width: 1px;
  background: $dark-shade-10;
}

.user-name {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 17px;
  height: 18px;
  color: $dark-shade-50;
}
