mixin header(bars, barMarginFromLogo, isLogin)
    .header-wrapper
        .header-logo
            include ../../blocks/logo/logo.pug
        div(style="margin-left: " + barMarginFromLogo + "px")
            include nav-bar/nav-bar
            +nav-bar(bars)
        if isLogin
            .header__login-register
                include ../../blocks/button/button.pug
                +button('login', 79, 34, 'login', 20)
                +button('register', 101, 34, 'register')
        else
            .header__user
                .line
                .user-name Cosmin Negoita
